
<div class="h-screen flex flex-col">
    
    <!-- header -->
    <app-header></app-header>
    <!-- main content -->
    <div class="flex-1 flex mt-11">
        <div class="flex justify-center items-center h-screen bg-gray-100 w-full">
            <div class="text-center">
              <h1 class="text-6xl font-bold text-red-600">404</h1>
              <p class="text-xl mt-4 text-gray-700">Page Not Found</p>
              <a routerLink="/code" class="text-blue-500 mt-6 inline-block">Go Back Home</a>
            </div>
          </div>
    </div>
</div>